<a href="https://colab.research.google.com/github/ebernardino01/DataAnalystPortfolio/blob/main/Clockster/Clockster_Data_Analysis_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clockster Data Analysis Notebook

## Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Read the data from source

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# Load attendance.csv
df_att = pd.read_csv('https://drive.google.com/uc?export=download&id=1P4u7REFFte05IECi2os6R5tDzmG_7dgx')
print(df_att.shape)
df_att.info()

(12635, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12635 entries, 0 to 12634
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     12635 non-null  int64
 1   first_name  0 non-null      float64
 2   last_name   0 non-null      float64
 3   location    9010 non-null   object
 4   date        12635 non-null  object
 5   time        12635 non-null  object
 6   timezone    12635 non-null  object
 7   case        12635 non-null  object
 8   source      12635 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 888.5+ KB

In [4]:
# Load leave_requests.csv
df_lr = pd.read_csv('https://drive.google.com/uc?export=download&id=1lmQ7Cks8dSlWWuZOzyuevh1RX74o_LGM')
print(df_lr.shape)
df_lr.info()

(51, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     49 non-null     float64
 1   first_name  0 non-null      float64
 2   last_name   0 non-null      float64
 3   type        51 non-null     object
 4   leave_type  51 non-null     object
 5   dates       51 non-null     object
 6   time_start  0 non-null      float64
 7   time_end    0 non-null      float64
 8   timezone    0 non-null      float64
 9   status      51 non-null     object
 10  created_at  51 non-null     object
dtypes: float64(6), object(5)
memory usage: 4.5+ KB

In [5]:
# Load payroll.csv
df_pay = pd.read_csv('https://drive.google.com/uc?export=download&id=13veWsjLFOW3ChGVW9jZ-GhCtXApwVEqi')
print(df_pay.shape)
df_pay.info()

(348, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 348 entries, 0 to 347
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 348 non-null    int64
 1   first_name              0 non-null      float64
 2   last_name               0 non-null      float64
 3   date_start              348 non-null    object
 4   date_end                348 non-null    object
 5   ctc                     252 non-null    float64
 6   net_pay                 252 non-null    float64
 7   gross_pay               252 non-null    float64
 8   data_salary_basic_rate  348 non-null    int64
 9   data_salary_basic_type  348 non-null    object
 10  currency                252 non-null    object
 11  status                  348 non-null    object
 12  created_at              348 non-null    object
dtypes: float64(5), int64(2), object(6)
memory usage: 35.5+ KB

In [6]:
# Load schedules.csv
df_sch = pd.read_csv('https://drive.google.com/uc?export=download&id=1RyhgaENGAbAs1X7KPCt4rCunTtPyEcl-')
print(df_sch.shape)
df_sch.info()

(4094, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4094 entries, 0 to 4093
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          4094 non-null   object
 1   dates         4094 non-null   object
 2   time_start    3041 non-null   object
 3   time_end      3041 non-null   object
 4   timezone      3164 non-null   object
 5   time_planned  4036 non-null   float64
 6   break_time    3017 non-null   float64
 7   leave_type    930 non-null    object
 8   user_id       4094 non-null   object
dtypes: float64(2), object(7)
memory usage: 288.0+ KB

In [7]:
# Load users.csv
df_user = pd.read_csv('https://drive.google.com/uc?export=download&id=1tfkMfLegCpYzsJ30bo0FZ6HKccNkzrCM')
print(df_user.shape)
df_user.info()

(77, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     77 non-null     int64
 1   first_name  0 non-null      float64
 2   last_name   0 non-null      float64
 3   gender      68 non-null     object
 4   date_birth  56 non-null     object
 5   date_hire   39 non-null     object
 6   date_leave  35 non-null     object
 7   employment  1 non-null      object
 8   position    63 non-null     object
 9   location    77 non-null     object
 10  department  67 non-null     object
 11  created_at  77 non-null     object
dtypes: float64(2), int64(1), object(9)
memory usage: 7.3+ KB

## Data Cleaning and Transformation

In [8]:
# Remove the empty columns
df_att = df_att.loc[:, ~df_att.columns.isin(['first_name', 'last_name'])]
df_lr = df_lr.loc[:, ~df_lr.columns.isin(['first_name', 'last_name', 'time_start', 'time_end', 'timezone'])]
df_user = df_user.loc[:, ~df_user.columns.isin(['first_name', 'last_name'])]
df_pay = df_pay.loc[:, ~df_pay.columns.isin(['first_name', 'last_name'])]

In [9]:
# Clean columns in users dataframe
df_user.loc[:, 'position'] = df_user['position'].fillna('None').copy()
df_user.loc[:, 'location'] = df_user['location'].fillna('None').copy()
df_user.loc[:, 'department'] = df_user['department'].fillna('None').copy()

df_user['gender'] = df_user['gender'].str.title()
df_user.loc[:, 'gender'] = df_user['gender'].fillna('Other').copy()

df_user.loc[:, 'employment'] = df_user['employment'].fillna('full_time').copy()
df_user['employment'] = df_user['employment'].str.title()
df_user.loc[:, 'employment'] = df_user['employment'].replace('_', ' ', regex=True).copy()
df_user

,user_id,gender,date_birth,date_hire,date_leave,employment,position,location,department,created_at
0,74008,Other,NaN,NaN,NaN,Full Time,None,Office,Support Centre,2021-10-20 11:15:49
1,74025,Female,1982-04-21,NaN,NaN,Full Time,Legal Officer,Office,Support Centre,2021-10-20 12:08:05
2,74027,Female,1992-05-12,2021-07-01,NaN,Full Time,General Manager,Office,Support Centre,2021-10-20 12:10:37
3,74042,Female,1991-01-10,2021-11-01,2022-10-31,Full Time,Warehouse Officer - Purchasing,Office,Support Centre,2021-10-20 14:22:52
4,74044,Male,1991-12-24,2019-01-04,2022-03-30,Full Time,Dokter,Clinic,Medical,2021-10-20 14:22:52
...,...,...,...,...,...,...,...,...,...,...
72,157837,Female,NaN,NaN,NaN,Full Time,Admin Bisnis,Office,None,2022-10-03 01:34:19
73,157916,Other,NaN,NaN,NaN,Full Time,None,Clinic,None,2022-10-03 05:59:38
74,159207,Other,NaN,NaN,NaN,Full Time,None,Office,None,2022-10-10 08:43:38
75,159217,Other,NaN,NaN,NaN,Full Time,None,Nu Orange,None,2022-10-10 09:29:51
76,160306,Other,NaN,NaN,NaN,Full Time,None,Nu Orange,None,2022-10-16 09:57:11

In [10]:
# Clean columns in payroll dataframe
df_pay.loc[:, 'ctc'] = df_pay['ctc'].fillna(0).copy()
df_pay.loc[:, 'net_pay'] = df_pay['net_pay'].fillna(0).copy()
df_pay.loc[:, 'gross_pay'] = df_pay['gross_pay'].fillna(0).copy()
df_pay.loc[:, 'currency'] = df_pay['currency'].fillna('IDR').copy()
df_pay['data_salary_basic_type'] = df_pay['data_salary_basic_type'].str.title()
df_pay['status'] = df_pay['status'].str.title()
df_pay

,user_id,date_start,date_end,ctc,net_pay,gross_pay,data_salary_basic_rate,data_salary_basic_type,currency,status,created_at
0,74042,2021-12-01,2021-12-31,2804051.0,2804051.0,2804051.0,2500000,Monthly,IDR,Approved,2021-12-28 04:08:14
1,74053,2021-12-01,2021-12-31,3975805.0,3975805.0,3975805.0,3500000,Monthly,IDR,Approved,2021-12-28 05:39:43
2,74052,2021-12-01,2021-12-31,1820000.0,1820000.0,1820000.0,1800000,Monthly,IDR,Approved,2022-01-04 04:45:38
3,75963,2021-12-01,2021-12-31,292500.0,292500.0,292500.0,90000,Daily,IDR,Approved,2022-01-04 04:54:28
4,83884,2021-12-01,2021-12-31,600000.0,600000.0,600000.0,3000000,Monthly,IDR,Approved,2022-01-04 04:55:59
...,...,...,...,...,...,...,...,...,...,...,...
343,155509,2022-09-01,2022-09-30,0.0,0.0,0.0,1800000,Monthly,IDR,Approved,2022-10-07 04:39:47
344,88357,2022-09-01,2022-09-30,0.0,0.0,0.0,1920000,Monthly,IDR,Approved,2022-10-07 04:43:43
345,125744,2022-09-01,2022-09-30,0.0,0.0,0.0,120000,Daily,IDR,Approved,2022-10-07 04:55:48
346,75963,2022-09-01,2022-09-30,0.0,0.0,0.0,120000,Daily,IDR,Approved,2022-10-07 04:57:23
347,132484,2022-09-01,2022-09-30,0.0,0.0,0.0,120000,Daily,IDR,Approved,2022-10-07 05:01:09

In [11]:
# Clean and transform leave_requests dataframe
df_lr['type'] = df_lr['type'].str.title()
df_lr['leave_type'] = df_lr['leave_type'].str.title()
df_lr.loc[:, 'leave_type'] = df_lr['leave_type'].replace('_', ' ', regex=True).copy()
df_lr['status'] = df_lr['status'].str.title()

# Split the dates column into rows
print(f'shape before explode: {df_lr.shape}')
df_lr['dates'] = df_lr['dates'].str.strip('[]').str.replace('\'', '').str.split(', ')
df_lr = df_lr.explode('dates').drop_duplicates()

# Reset the index
df_lr = df_lr.reset_index(drop=True)

# Convert the string of dates into date format
df_lr['dates'] = pd.to_datetime(df_lr['dates'], format='"%Y-%m-%d"')

print(f'shape after explode: {df_lr.shape}')
df_lr

shape before explode: (51, 6)
shape after explode: (92, 6)

    user_id   type    leave_type      dates    status           created_at
0       NaN  Leave       Day Off 2021-10-27  Accepted  2021-10-25 12:38:59
1       NaN  Leave       Day Off 2021-11-12  Accepted  2021-11-07 15:20:46
2   74465.0  Leave        Unpaid 2021-11-16  Accepted  2021-11-15 13:45:33
3   75839.0  Leave       Day Off 2021-11-24  Accepted  2021-11-16 02:18:10
4   74042.0  Leave       Day Off 2021-11-28  Accepted  2021-11-27 07:06:41
..      ...    ...           ...        ...       ...                  ...
87  74052.0  Leave  Compensatory 2022-10-09  Accepted  2022-10-06 07:04:06
88  74049.0  Leave  Compensatory 2022-10-14  Accepted  2022-10-08 00:35:32
89  83884.0  Leave  Compensatory 2022-10-22  Accepted  2022-10-13 09:23:12
90  83884.0  Leave  Compensatory 2022-10-23  Accepted  2022-10-13 09:23:12
91  74049.0  Leave  Compensatory 2022-10-21   Pending  2022-10-17 04:17:22

[92 rows x 6 columns]

In [12]:
# Clean and transform schedules dataframe
df_sch['type'] = df_sch['type'].str.title()
df_sch.loc[:, 'time_planned'] = df_sch['time_planned'].fillna(0).copy()
df_sch.loc[:, 'break_time'] = df_sch['break_time'].fillna(0).copy()
df_sch.loc[:, 'leave_type'] = df_sch['leave_type'].fillna('None').copy()
df_sch['leave_type'] = df_sch['leave_type'].str.title()
df_sch.loc[:, 'leave_type'] = df_sch['leave_type'].replace('_', ' ', regex=True).copy()

# Split the user_id column into rows
print(f'shape before 1st explode: {df_sch.shape}')
df_sch['user_id'] = df_sch['user_id'].str.strip('{}').str.split(',')
df_sch = df_sch.explode('user_id').drop_duplicates()
print(f'shape after 1st explode: {df_sch.shape}')

# Split the dates column into rows
print(f'shape before 2nd explode: {df_sch.shape}')
df_sch['dates'] = df_sch['dates'].str.strip('[]').str.replace('\'', '').str.split(', ')
df_sch = df_sch.explode('dates').drop_duplicates()

# Convert the string of dates into date format
df_sch['dates'] = pd.to_datetime(df_sch['dates'], format='"%Y-%m-%d"')

# Reset the index
df_sch = df_sch.reset_index(drop=True)
print(f'shape after 2nd explode: {df_sch.shape}')
df_sch

shape before 1st explode: (4094, 9)
shape after 1st explode: (3999, 9)
shape before 2nd explode: (3999, 9)
shape after 2nd explode: (26130, 9)

,type,dates,time_start,time_end,timezone,time_planned,break_time,leave_type,user_id
0,Free,2021-10-01,09:00:00,08:59:00,+08:00,7200.0,0.0,None,74138
1,Free,2021-10-02,09:00:00,08:59:00,+08:00,7200.0,0.0,None,74138
2,Free,2021-10-04,09:00:00,08:59:00,+08:00,7200.0,0.0,None,74138
3,Free,2021-10-05,09:00:00,08:59:00,+08:00,7200.0,0.0,None,74138
4,Free,2021-10-06,09:00:00,08:59:00,+08:00,7200.0,0.0,None,74138
...,...,...,...,...,...,...,...,...,...
26125,Work,2022-10-24,15:00:00,22:00:00,+08:00,25200.0,0.0,None,120666
26126,Work,2022-10-24,08:00:00,15:00:00,+08:00,25200.0,0.0,None,120696
26127,Work,2022-10-21,08:00:00,15:00:00,+08:00,25140.0,60.0,None,120696
26128,Fake,2022-10-21,NaN,NaN,+06:00,0.0,0.0,None,74465
26129,Work,2022-10-21,15:00:00,22:00:00,+08:00,21600.0,3600.0,None,74465

In [13]:
# Clean and transform attendance dataframe
df_att.loc[:, 'location'] = df_att['location'].fillna('None').copy()
df_att['source'] = df_att['source'].str.title()

print(f'shape before transform: {df_att.shape}')
group_cols = ['user_id', 'location', 'date', 'timezone', 'source']

# Filter IN records and group by user_id, location, date, timezone, and source,
# then get the minimum time for each group and rename the time column
login = df_att[df_att['case'] == 'IN'].groupby(group_cols)['time'].min().rename('login_time').reset_index()

# Filter OUT records and group by user_id, location, date, timezone, and source,
# then get the maximum time for each group and rename the time column
logout = df_att[df_att['case'] == 'OUT'].groupby(group_cols)['time'].max().rename('logout_time').reset_index()

# Join the login and logout DataFrames
login_logout = pd.merge(login, logout, on=group_cols, how='left')

# Fill the missing logout_time values with NaN
login_logout['logout_time'] = login_logout['logout_time'].fillna(pd.NaT)

# Sort the result by user_id, log_date, and login_time
login_logout = login_logout.sort_values(['user_id', 'date', 'login_time'])

# Reset the index
login_logout = login_logout.reset_index(drop=True)
df_att = login_logout.copy()
print(f'shape after transform: {df_att.shape}')
df_att

shape before transform: (12635, 7)
shape after transform: (6182, 7)

      user_id   location        date timezone  source login_time logout_time
0       74025       None  2021-10-20   +08:00  Mobile   20:08:45         NaT
1       74025  Nu Orange  2021-10-21   +08:00  Mobile   13:22:20         NaT
2       74025  Nu Orange  2021-10-22   +08:00  Mobile   13:40:57         NaT
3       74025       None  2021-10-25   +08:00  Mobile   15:19:16         NaT
4       74025       None  2021-10-26   +08:00  Mobile   10:25:07         NaT
...       ...        ...         ...      ...     ...        ...         ...
6177   159217  Nu Orange  2022-10-15   +08:00  Mobile   07:59:23    15:01:48
6178   159217  Nu Orange  2022-10-18   +08:00  Mobile   08:04:23    15:04:06
6179   160306  Nu Orange  2022-10-17   +08:00  Mobile   07:40:34    15:07:18
6180   160306  Nu Orange  2022-10-18   +08:00  Mobile   14:46:30         NaT
6181   160306  Nu Orange  2022-10-19   +08:00  Mobile   07:40:43         NaT

[6182 rows x 7 columns]

## Data Calculations